.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.game {
  border-style: outset;;
  border-width: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  clear: both;
  margin: 0 auto;
  width: 330px;
  background-color: rgb(192,192,192);
}

.minefield {
  border-style: inset;
  border-width: 5px;
  margin-bottom: -5px;
  margin-left: -1px;
  margin-top: -1px;
  width: 300px;
  height: 300px;
  padding-top:5p;
  display: inline-block;

}

.board-row {
  margin: 0 auto;
  width: 300px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  height: 34px;
  width: 34px;
  border: 1px solid #999;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 34px;
}

.square:focus { /* no halo effect */
  outline: 0;
}

.open {
  /*opacity: 0.7;*/
  cursor: not-allowed;
  background: rgb(210,210,210);
}

.open img   {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

/*.closed {
  opacity: 0.9;
}*/

#bomb {
  width: 100%;
}

.exploded {
  background: #f00;
}

/* scoreboard styles */

.scoreboard {
  padding-bottom: 5px;
  padding-top: 5px;
  clear: both;
  margin: 0 auto;
  margin-bottom: 5px;
  border-style: inset;
  border-width: 5px;
  width: 300px;
  height: auto;
}

.scoreboard button {
  height: 45px;
}

.scoreboard button:active {
  border-style: outset; /* no clicking effect */
}

.flagpanel {
  margin-left: 10px;
  display: inline-block;
  float: left;
}

.msgpanel {
  display: inline-block;
  border-style: outset;
}

.msgpanel button {
  height: 41.0px;
}

.tickerpanel {
  margin-right: 10px;
  display: inline-block;
  float: right;
}
